* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* color */
  --background: linear-gradient(90deg, #6190e8, #a7bfe8);
  --shadow-light: hsla(0, 0%, 0%, 0.1);
  --shadow: hsla(0, 0%, 0%, 0.5);
  --light: hsl(0, 0%, 100%);
  --text: hsl(0, 0%, 26%);

  /* font-family: "Inter", sans-serif; */
  /* font-family: "JetBrains Mono", monospace; */
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Nunito", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Roboto", sans-serif; */
  font-family: "Rubik", sans-serif;
  /* font-family: "Space Grotesk", sans-serif; */
  /* font-family: 'Space Mono', monospace; */
  /* font-family: 'Trispace', sans-serif; */
  /* font-family: "Work Sans", sans-serif; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: var(--background);
}

form {
  position: relative; /* for character svg */
  background: white;
  min-height: 40vh;
  width: 40vw;
  color: #777474;
  border-radius: 1rem;
  padding: 2rem 2rem;
  display: flex;
  filter: drop-shadow(5px 5px 10px var(--shadow));
}

.contact-left,
.contact-right {
  flex: 1; /* flex items now share equal width */
}

.title {
  color: #6190e8;
  padding: 0.5rem 0rem;
}

.contact-right {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.input-container {
  position: relative;
}
.input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: #777474;
  font-size: 0.7rem;
}
.placeholder {
  position: relative;
  z-index: 1; /* placed above container */
  pointer-events: none;
  padding: 0.4rem 0rem;
  font-size: 0.6rem;
  opacity: 0.6;
  transform-origin: left;
}
.line-svg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: visible;
}

.promo-container {
  padding-top: 1rem;
  position: relative;
  display: flex;
}
.checkbox-container {
  position: relative;
  width: 1rem;
  height: 1rem;
  border-radius: 3px;
  /* hides our checkbox filler div */
  overflow: hidden;
}
.checkmark,
.checkbox {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #c5c5c5;
}
.checkbox {
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}
.tick-mark {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  padding: 2px;
  width: 100%;
  height: 100%;
}
.checkbox-filler {
  position: absolute;
  background: #6190e8;
  top: 100%;
  width: 100%;
  height: 100%;
}

.checkbox-label {
  font-size: 0.7rem;
  padding-left: 0.5rem;
}

button {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.6rem;
  background: #6190e8;
  color: white;
  border: none;
  border-radius: 0.2rem;
  border-style: none;
  padding: 0.5rem 2.5rem;
  cursor: pointer;
  margin-top: 1rem;
  align-self: flex-start;
}

#character {
  position: absolute;
  transform: scale(0.8) translate(0%, 30%);
  bottom: 0;
  left: 0;
  transform-origin: bottom;
  overflow: visible;
}

.submitted {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1rem;
  pointer-events: none;
  text-align: center;
  transform: translate(-50%, -50%);
  opacity: 0;
}

@media screen and (max-width: 1400px) {
  form {
    width: 50vw;
  }
}

@media screen and (max-width: 1000px) {
  form {
    width: 60vw;
  }
  #character {
    transform: scale(0.6) translate(0%, 30%);
  }
}

@media screen and (max-width: 740px) {
  form {
    width: 80vw;
  }
  #character {
    transform: scale(0.6) translate(0%, 30%);
  }
}
